body{
    background-image: url(background.jpg);
    padding: 0;
    margin: 0;
    font:
}
.wrap{
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: 50px minmax(160px, auto) repeat(6, 75px);
}

.wrap > button{
    cursor: pointer;
    font-size: 1.5rem;
    background-color: #e6e6e6;
    border: 1px solid #d1d1d1;
    outline: none;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255, 0.2));
}
.wrap > button:hover{
    background-color: #f07d7d;
}

.top{
    background-color: #dbdbdb;
    grid-column: span 4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3rem;
}

.output{
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    background-color: #dbdbdb;
    border-top: 2px solid rgb(196, 196, 196);
}
.log{
    font-size: 1.5rem;
    color: #575757
}
.operand{
    font-size: 2.5rem;
    font-weight: bold;
    word-break: break-all;
    word-wrap: break-word;
}

.wrap > .number{
    background-color: #f7f7f7;
    font-size: 2rem;
}
.wrap > .equals{
    background-color: rgb(255, 228, 77);
}
.wrap > .equals:hover{
    background-color: rgb(255, 217, 0);
}